@font-face { /*Ajout de la police*/
    font-family: 'Starjedi';
    src: url('fonts/Starjedi.ttf');
}
body{ /*Mise en place de l'image de fond, de la police et de la couleur des texte*/
	background:url("../assets/fond.jpg") fixed no-repeat top right;
	font-family:Starjedi;
	color:white;
}
h1{ /*Taille des titre de niveau 1*/
	font-size:3em;
}
h3{ /*Taille des titre de niveau 2, leur couleur et leur forme*/
	color:rgb(74, 142, 165);
	font-size:2em;
	font-weight:bold;
}

.entete{ /*Taille et allignement de la class entete*/
	line-height:3em;
	text-align:center;
}

#image{ /*Placement de l'image en haut a droite*/
	float:right
}

#xp{ /*Met le reste de la page sous le float*/
	clear:both;
}

.link{ /*Enleve la decoration du lien et change la couleur part default*/
	text-decoration:none;
	color:rgb(66, 140, 244);
}

.link:hover{ /*Change ma couleut au survol du lien*/
	color:rgb(161, 192, 237);
}

.survol{/*Ajoute une bordure autout des éléments de la classe .survol (avec des marges interrieur a gauche et en dessous et exterrieur)*/
	border:3px solid white;
	margin:1em;
	padding-left:2em;
	padding-bottom:1em;
	
}

.survol:hover{ /*Change la bordure et ajoute un ombre au survol de chaque éléments de la classe .survol */
	border:3px inset white;
	box-shadow: 3px 3px 3px white;
}